// Подключение внешнего файла helpers.scss, содержащего полезные миксины и переменные.
// @use позволяет получить доступ ко всем переменным, миксинам и функциям из helpers.scss
@use 'utils' as *;

// Стили для контейнера, который будет иметь максимальную ширину, основанную на переменных.
// Это позволяет гибко управлять размером контейнера через CSS-переменные.
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2); // Максимальная ширина контейнера вычисляется с учетом отступов
  margin-inline: auto; // Центрирование контейнера по горизонтали
  padding-inline: var(--container-padding-x); // Горизонтальные внутренние отступы, задаются через переменную
}

// Скрытие элемента с точки зрения визуального восприятия, но доступность для экранных читалок (важно для доступности).
// Миксин visually-hidden применяет соответствующие стили для скрытия, но оставляет элемент доступным для технологий помощи.
.visually-hidden {
  @include visually-hidden; // Миксин, который скрывает элемент, но делает его доступным для экранных читалок
}

// Скрытие элемента на мобильных устройствах. Используется миксин для применения стилей в медиазапросе для мобильных экранов.
.hidden-mobile {
  @include mobile {
    display: none !important; // Скрыть элемент на мобильных устройствах (max-width: 768px)
  }
}

// Показ элемента на устройствах с экраном больше мобильных, используя медиазапрос для более широких экранов.
.visible-mobile {
  @include mobile-above {
    display: none !important; // Скрыть элемент на экранах меньше 768px (для мобильных устройств)
  }
}