@font-face {
  font-family: "Kadwa";
  //noinspection CssUnknownTarget
  src: url('../../fonts/Kadwa-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

//noinspection CssUnknownTarget
@font-face {
  font-family: "Kadwa";
  src: url('../../fonts/Kadwa-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}