@use  "../../styles/utils" as *;

.headers {
height: rem(80);
  background: #15a5ff;
}

.listen {
  display: flex;
  gap:  rem(95);
  list-style: none;
  align-items: center;
  justify-content: center;
}
.card {
  font-family: var(--font-family-accent), serif;
  font-weight: 700;
  font-size: rem(20);
  letter-spacing: 0.16em;
  color: #f5f5f5;
  text-decoration: none;

}
.link {
  text-decoration: none;

}

